<link rel="stylesheet" href="/css/support/supportList.css?v={{ timestamp }}" />

<div class="support-list-container">
    <div class="title-area">
        <h2 class="section-title">자주 묻는 질문</h2>
    </div>
    <div class="search-wrap ">
        <input id="srchKwrd" class="txt-input  " placeholder="검색어를 입력해주세요." type="search" value="">
        <button type="button" class="btn-sch" title="검색하기">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
                x="0px" y="0px" viewBox="0 0 513.749 513.749" style="enable-background:new 0 0 513.749 513.749;"
                xml:space="preserve" width="512" height="512">
                <g>
                    <path d="M504.352,459.061l-99.435-99.477c74.402-99.427,54.115-240.344-45.312-314.746S119.261-9.277,44.859,90.15   S-9.256,330.494,90.171,404.896c79.868,59.766,189.565,59.766,269.434,0l99.477,99.477c12.501,12.501,32.769,12.501,45.269,0   c12.501-12.501,12.501-32.769,0-45.269L504.352,459.061z M225.717,385.696c-88.366,0-160-71.634-160-160s71.634-160,160-160   s160,71.634,160,160C385.623,314.022,314.044,385.602,225.717,385.696z" />
                </g>
            </svg>

        </button>
    </div>
    <table class="list-table">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>등록일</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr><td class="no-list" colspan="4">등록된 FAQ가 없습니다.</td></tr>--><!-- FAQ가 없을 경우에만 노출 -->
            <tr class="tr-style">
                <td>1</td>
                <td>
                    <a href="#" class="list-link">자주묻는질문1</a>
                </td>
                <td>2025-07-21</td>
            </tr>
        </tbody>
    </table>

    <div class="pagination">
        <a href="#" class="page prev">«</a>
        <a href="#" class="page active">1</a>
        <a href="#" class="page">2</a>
        <a href="#" class="page">3</a>
        <a href="#" class="page next">»</a>
    </div>

</div>