<link rel="stylesheet" href="/css/seats/seatReservation.css?v={{ timestamp }}" />
{{> common/header }}
<div class="container reservation-wrapper">
    <!-- 왼쪽: 좌석 선택 영역 -->
    <div class="seat-selection">
        <div class="title">
            <h2>빠른예매</h2>
            <button class="reset-btn"><img src="/images/icons/reset-icon.png">초기화</button>
        </div>
        <!-- 관람 인원 선택 -->
        <div class="person-selection">
            <div class="person-selection-inner">
                <span>성인</span>
                <div class="person-count">
                    <button>-</button>
                    <input type="text" value="0" readonly>
                    <button>+</button>
                </div>
            </div>
            <div class="person-selection-inner">
                <span>청소년</span>
                <div class="person-count">
                    <button>-</button>
                    <input type="text" value="0" readonly>
                    <button>+</button>
                </div>
            </div>
            <div class="person-selection-inner">
                <span>경로</span>
                <div class="person-count">
                    <button>-</button>
                    <input type="text" value="0" readonly>
                    <button>+</button>
                </div>
            </div>
            <div class="person-selection-inner">
                <span>우대</span>
                <div class="person-count">
                    <button>-</button>
                    <input type="text" value="0" readonly>
                    <button>+</button>
                </div>
            </div>
        </div>

        <!-- 좌석 배치도 -->
        <div class="seat-map">
            <div class="screen-label">SCREEN</div>
            {{#seatRowList}}
                <div class="row" data-row="{{row}}">
                    <span class="row-label">{{row}}</span>
                    {{#seats}}
                        {{#isGap}}
                            <span class="seat-gap"></span>
                        {{/isGap}}
                        {{^isGap}}
                            <span class="seat
                     {{#isVip}}vip{{/isVip}}
                                {{#isReserved}}reserved{{/isReserved}}
                                {{#isDisabled}}disabled{{/isDisabled}}"
                                  data-seat-id="{{seatId}}">
                                {{seatNumber}}
                            </span>
                        {{/isGap}}
                    {{/seats}}
                </div>
            {{/seatRowList}}




        </div>
    </div>

    <!-- 오른쪽: 예매 정보 영역 -->
    <div class="reservation-summary">
        <div class="movie-info">
            <div class="movie-title">
                <h3>{{movie.title}}</h3>
                <p>{{movie.genre}} / {{movie.ageRating}}</p>
            </div>
            <div class="cinema-info">
                <div class="cinema-info-left">
                    <div>
                        <p>{{screen.screenName}}</p>
                    </div>
                    <p>{{formattedDate}}</p>
                    <p>{{formattedStartTime}} ~ {{formattedEndTime}}</p>
                </div>
                <img src="/images/movie/{{movie.mainImageUrl}}" alt="포스터" class="poster">
            </div>
        </div>

        <div class="legend">
            <ul>
                <li><span class="box selected"></span>선택</li>
                <li><span class="box reserved"></span>예매완료</li>
                <li><span class="box disabled"></span>선택불가</li>
                <li><span class="box normal"></span>일반</li>
                <li><span class="box vip"></span>장애인석</li>
            </ul>
        </div>

        <div class="selected-seats">
            <h4>선택좌석</h4>
            <ul>
                <li>A5</li>
                <li>B6</li>
            </ul>
        </div>

        <div class="price-info">
            <strong>최종결제금액</strong>
            <p><span>0</span> 원</p>
        </div>

        <div class="navigation">
            <button class="prev">이전</button>
            <button class="next">다음</button>
        </div>
    </div>
</div>
<script src="/js/seats/seatReservation.js"></script>
{{> common/footer }}
